.venv/
bin/
lib/
include/
share/
pyvenv.cfg
.pytest_cache/
.tox/
.nox/
.cache/
.mypy_cache/
nosetests.xml
coverage.xml
htmlcov/
.coverage

__pycache__/
*.py[cod]
*$py.class
*.so

.env
.env.*
.aws/
credentials
accessKeys.csv

.vscode/
.cursor/
.idea/
.DS_Store